<div class="header">
    <app-header></app-header>
</div>

<div class="row">
    <div class="head gap-3 d-flex align-items-center my-3">
        <a [routerLink]="'/'" class="btn btn-lg btn-outline-info"><i class="bi bi-arrow-left fs-6"></i> Home page</a>
        <h5 class="text-center h3 text-white">Statistiques</h5>
    </div>
    <div class="statistiques row">
        <div class="col-6">
            <div class="shadow shadow-lg rounded-2 bg-dark border border-1 border-white">
                <h4>graph 1</h4>
            </div>
        </div>
        <div class="col-6">
            <div class="shadow shadow-lg rounded-2 bg-dark border border-1 border-white">
                <h4>graph 2</h4>
            </div>
        </div>
        <div class="col-6">
            <div class="shadow shadow-lg rounded-2 bg-dark border border-1 border-white">
                <h4>graph 3</h4>
            </div>
        </div>
        <div class="col-6">
            <div class="shadow shadow-lg rounded-2 bg-dark border border-1 border-white">
                <h4>graph 4</h4>
            </div>
        </div>

    </div>

</div>

<div class="footer position-relative">
    <app-footer class="position-absolute bottom-0"></app-footer>
</div>
