<nz-layout class="parentLayout">
  <!-- the sidenav bar -->
  <nz-sider nzCollapsible [nzBreakpoint]="'sm'" (nzCollapsedChange)="isSiderCollapsedChange($event)"  [nzCollapsedWidth]="80" nzWidth="260px" class="sider">
    <app-custom-side-nav [siderCollapsedStatus]="isSiderCollapsed()" ></app-custom-side-nav>
  </nz-sider>
  
  <nz-layout>
    <!-- header navigation -->
    <nz-header nz-flex nzJustify="flex-end" nzAlign="center">
      <div>
        <button nz-dropdown [nzPlacement]="'bottomCenter'" [nzDropdownMenu]="profil" title="utilisateur" type="button"
          nz-button nzShape="circle" nzSize="large">
          <span nz-icon nzType="user" nzTheme="outline"></span>
        </button>
        <nz-dropdown-menu #profil="nzDropdownMenu">
          <ul nz-menu>
            <li>
              <h3>Foromo Yaboigui</h3>
            </li>
            <li nz-menu-divider></li>
            <li nz-menu-item><a href="">Profil</a></li>
            <li nz-menu-item><a href="">Deconnexion</a></li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </nz-header>
  
    <!-- page content -->
    <nz-content>
      
      <!-- utilisant de routerOutlet pour afficher les pages -->
      <router-outlet></router-outlet>
    </nz-content>
    <!-- the footer -->
    <nz-footer>
      <h4>&copy; Guilavogui Yaboigui 2024</h4>
    </nz-footer>
  </nz-layout>
</nz-layout>
