<!-- le header  -->
<mat-toolbar class="mat-elevation-z21">
  <button type="button" class="bg-white mx-2" mat-button (click)="collapsed.set(!collapsed())">
    <mat-icon>menu</mat-icon>
  </button>
  <!-- <span class="h3 text-white">ESPACE NUMERIQUE DE TRAVAIL - KINDIA </span> -->
</mat-toolbar>

<!-- le conteneur de la navigation  -->
<mat-sidenav-container cdkLayout="row">
  <!-- la sidenav : qui permet d'afficher les onglets pour la navigation -->
  <mat-sidenav role="navigation" position="start" opened mode="side" [style.width]="sideNavWidth()">
    <!-- un composant personnel qui liste le contenu de la sidenav -->
    <app-custom-sidenav [collapsed]="collapsed()"></app-custom-sidenav>
    
  </mat-sidenav>
  <!-- le contenu de la page de navigation -->
  <mat-sidenav-content class="content" [style.margin-left]="sideNavWidth()">
    <!-- router-outlet permet d'avoir acces aux routes et les afficher -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
