<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div class="gutter-row" nz-col [nzSpan]="6">
        <a class="inner-box height-50" [routerLink]="" nz-flex nzAlign="center" nzJustify="space-between">
            <h2 nz-typography>texte</h2>
            <span nz-icon nzType="alert" nzTheme="outline"></span>
        </a>
    </div>
    <div class="gutter-row" nz-col [nzSpan]="6">
        <a class="inner-box height-50" [routerLink]="" nz-flex nzAlign="center" nzJustify="space-between">
            <h2 nz-typography>texte</h2>
            <span nz-icon nzType="alert" nzTheme="outline"></span>
        </a>
    </div>
    <div class="gutter-row" nz-col [nzSpan]="6">
        <a class="inner-box height-50" [routerLink]="" nz-flex nzAlign="center" nzJustify="space-between">
            <h2 nz-typography>texte</h2>
            <span nz-icon nzType="alert" nzTheme="outline"></span>
        </a>
    </div>
    <div class="gutter-row" nz-col [nzSpan]="6">
        <a class="inner-box height-50" [routerLink]="" nz-flex nzAlign="center" nzJustify="space-between">
            <h2 nz-typography>texte</h2>
            <span nz-icon nzType="alert" nzTheme="outline"></span>
        </a>
    </div>

</div>