<section id="home">
    <div class="container flex flex-col items-center gap-10">
        <div class="mx-auto">
            <img src="assets/img/home-image.png" alt="" class="w-60">
        </div>

        <div class="text-center">
            <h1 class="home_title">HAPPY TUMMY WITH TASTY BURGERS.</h1>
            <div class="separator mx-auto"></div>
            <p class="paragraph">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium aut sequi assumenda, et, aliquam ab alias vel ducimus consectetur sunt, rem nam nulla quia minus. Modi quo eaque veniam cumque.
                Accusamus architecto ratione repudiandae ex cupiditate deleniti est minus, voluptatem temporibus delectus totam repellendus tempora numquam dolore facere nobis, obcaecati molestiae nulla eveniet ullam harum sint quibusdam iusto. Tempore, repudiandae.
                Accusantium aspernatur nisi tempora hic veritatis facere minima commodi modi quo quaerat itaque repudiandae, sed nihil ratione dolorum culpa error sequi, asperiores facilis beatae. Aliquam consectetur libero ipsum suscipit accusamus.
            </p>
            <div class="text-base flex items-center justify-center gap-4 py-10">
                <div class="text-center">
                    <i class="fa-solid fa-utensils text-secondaryColor text-6xl"></i>
                    <br>
                    Delicious
                </div>
                <div class="text-center">
                    <i class="fa-solid fa-droplet text-secondaryColor text-6xl"></i>
                    <br>
                    Fresh
                </div>
                <div class="text-center">
                    <i class="fa-brands fa-envira text-secondaryColor text-6xl"></i>
                    <br>
                    Organic
                </div>
            </div>

            <a class="btn btn-primary" href="#">learn more</a>
        </div>
    </div>
</section>