<div class="row">
    <div class="col-md-4">
        <div class="card p-3">
            <img class="card-img w-100" src="favicon.ico" alt="">
            <h3 class="h3 text-secondary">departement title </h3>
            <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi unde aliquam rem nulla labore doloremque laudantium odit aperiam animi eum explicabo repellat, illo tempore natus consequuntur, placeat voluptatibus, quidem et?
            </p>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card p-3 ">
           <div class="d-flex align-items-center justify-content-center">
                <i class="d-block mx-2 fs-1 text-primary bi bi-graph-up"></i>
                <p class="h3 text-primary">Presentation</p>
           </div>
            <div class="text-presentation">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque itaque doloribus perspiciatis numquam facilis est rem accusantium molestiae velit iure modi praesentium, maxime architecto quae. Nobis voluptas hic eius nostrum.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi facilis ex at cupiditate repellendus cum nam sequi, nesciunt debitis autem libero voluptatum, expedita, non qui odio ipsa aperiam minus eos?
                Mollitia, maxime! Fugiat beatae eius quam ea sapiente est facere voluptates, reprehenderit reiciendis perspiciatis eum, necessitatibus autem quod dolorum. Hic doloremque quam praesentium impedit totam nam est a dicta eos.
                Impedit dolor obcaecati mollitia magni, natus excepturi nobis, commodi maxime, iste possimus deserunt rerum placeat voluptate aliquid nam. Quod neque incidunt consequuntur cum itaque. Quisquam nostrum eos minima veritatis sit!
                Rem molestiae atque laboriosam dolore. Voluptates repellat eius doloribus possimus dicta quis, consequuntur voluptas! Sed, culpa mollitia reprehenderit laudantium voluptatem soluta tempore nostrum natus, aperiam, quisquam voluptas asperiores omnis laboriosam!
                Consectetur, ullam. Accusamus deserunt molestias, labore nihil reiciendis magni ipsa. Quas, blanditiis excepturi! Recusandae, sapiente commodi voluptas doloremque repudiandae iusto porro! Nihil itaque praesentium, reprehenderit alias omnis natus quae dignissimos.
            </div>
        </div>
    </div>
</div>